<template>
    <div>
        <button class="button flex items-baseline justify-between px-2 py-1 border-b-2 rounded-none"
                @click="onClick">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-3 mr-3 fill-current text-gray-700">
                <path d="M11 0h1v3l3 7v8a2 2 0 0 1-2 2H5c-1.1 0-2.31-.84-2.7-1.88L0 12v-2a2 2 0 0 1 2-2h7V2a2 2 0 0 1 2-2zm6 10h3v10h-3V10z"/>
            </svg>
            <span class="text-xs">{{ totalLikes }}</span>
        </button>

        <div class="text-xs text-red-600" v-if="errorMessage">You must be authenticated to use this feature</div>
    </div>
</template>

<script>
    export default {

        props: {
            reply: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                total: this.reply.likes.length,
                errorMessage: undefined,
            }
        },

        computed: {
            totalLikes() {
                return this.total;
            }
        },

        methods: {
            onClick() {
                axios.post(`/replies/${this.reply.id}/likes`, {}).then(response => {
                    this.total = response.data.total;
                }).catch(error => {
                    this.errorMessage = error.response.data.message;
                })
            }
        },
    }
</script>
