<template>
    <div>
        <input type="hidden" id="trix" :name="name">
        <trix-editor input="trix" class="css"></trix-editor>
    </div>
</template>

<script>
    import Trix from 'trix';

    export default {
        props: {
            name: {
                type: String,
                default: 'body',
            },

            css: {
                type: String,
                default: 'trix',
            }
        }
    }
</script>

<style>
    .trix ul {
        list-style-type: disc;
        padding-left: 2.5rem;
    }

    .trix ol {
        list-style-type: decimal;
        padding-left: 2.5rem;
    }
</style>
